@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: 'Inter', sans-serif;
}

header a {
    text-decoration: none;
    color: black;
}

header {
    padding: 36px 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: 1.5rem;
}

nav{
    display: flex;
    gap: 1em;
}


nav a {
    font-weight: 600;
    transition: all .4s ease-in-out;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-color: black;
}



.home {
    background-image: url("./images/image 53.png");
    background-size: cover;
    background-position: center;
    padding: 5%;
    min-height: 85vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home h1 {
    font-weight: 800;
    margin-bottom: 0.75em;
    line-height: 150%;
}

.home p {
    font-weight: 500;
    margin-bottom: 3em;
    line-height: 150%;
}

.home .btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 240px;
}

.btn {
    border-radius: 5px;
    font-weight: 600;
    padding: 1em 2em; 
    cursor: pointer;
    transition: all .4s ease-in-out;
    text-align: center;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.btn-primary {
    background-color: #FF8C38;
    color: white;
}

.btn-primary:hover {
    background-color: #252525;
}

.btn-black {
    background-color: #161616;
    color: white;
}

.btn-black:hover {
    background-color: white;
    color: #161616;
}

.about {
    background-color: #FFF7ED;
}

.about > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.about-content {
    padding: 5% 5% 15%;

}

.about-content h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;
}

.about-content p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3em;
    line-height: 150%;
}

.about-explore {
    background-color: #FFCC8D;
    border-radius: 5px;
    padding: 5%;    
}

.about-explore h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1em;
}


/*** VAN PAGES ***/
.van-list-container {
    padding: 0 24px 48px;
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    width: fit-content;
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

.van-detail-container {
    padding: 5% 5% 10%;
}

.van-detail {
    display: block;
    margin: auto;
}

.back-btn span {
    font-weight: 500;
    text-decoration: underline;
}   

.back-btn img {
    margin-right: 4px;
}

.van-img {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
}

.van-price span {
    font-weight: bold;
    font-size: 18px;
}

.van-detail button {
    width: 100%;
    border: none;
    margin-top: 2em;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

footer {
    background-color: #252525;
    display: flex;
    justify-content: center;
    color: #AAAAAA;
    padding: 2em;
    font-weight: 500;
    font-size: 0.85rem;
}